

.msjCierre {
    font-size: 30px;
    color: black;    
    margin-top: 25px;
    margin-bottom: 30px;
}

.CartTicket {
    display: inline-block;
    /* background-color: rgb(227, 255, 236); */
    background-color: rgba(5, 183, 136, 0.115);      
    /* max-width: 85%; */
    margin-bottom: 40px; 
    border-radius: 8px; 
    font-size: 35px;         
    border-top: solid 7px gold;
    border-bottom: solid 7px gold
}

/* .headerTitle {
    font-size: 20px;
    margin-top:15px;
    padding: 2px;
    color: black
} */

.header {
    background-color: #2b5742;
    color: white;
    font-size: 18px;
    font-style: italic;
    margin: 8px 15px 30px 15px;
    padding: 20px;
    border-radius: 8px;
    line-height: 1.7;  
}


.botonRemove {
    background-color: rgb(0, 207, 152);  
    border: none;   
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 20px;    
    cursor: pointer;
    
}

.botonesFinales{
    display: flex;
    justify-content: center;
}

.botonAceptar {
    background-color: gold; 
    font-size: 20px;    
    cursor: pointer;
    color: black;   
    border: none;
    border-radius: 8px; 
    font-family: Arial;  
    width: 250px;
    height: 50px;
    padding: 15px;
    margin: 20px 15px 10px 15px;  
    font-weight: 550; 
}


.botonVaciar{
    background-color: gold;    
    font-size: 20px;    
    cursor: pointer;
    color: black;
    border: none;
    border-radius: 8px;
    font-family: Arial;
    width: 250px;
    height: 50px;
    /* padding: 20px;     */
    margin: 20px 15px 0px 15px;    
    font-weight: 550; 
}

.totalContainer {
    background-color: #2b5742;
    border-radius: 5px;      
    padding: 15px;
    margin: 15px 15px 15px 15px; 
}


.total {
    color: white;
    font-size: 20px;
    
}


.ticketContent{
    font-size: 20px;
    border-bottom: dotted 4px black;
    margin-top: 35px;
    
}


.carritoVacio {
    background-color: blanchedalmond;
    margin-top: 150px;
    width: 60%;
    padding: 25px;
    border-radius: 10px;
    display: inline-block;
}


/* .header {
    background-color: #2b5742;
    color: white;
    font-size: 20px;
    font-style: italic;
    margin: 30px 15px 30px 15px;
    padding: 20px;
    border-radius: 8px;
    line-height: 1.7;  
} */

/* .botonVolver {
    background-color: gold;    
    border-radius: 8px;    
    padding: 20px;
    margin: 20px 8px 40px 15px;    
    font-size: 20px;    
    cursor: pointer;
    color: black;
    width: 250px;
} */


/* .botonUpdateColl {
    background-color: rgb(253, 75, 75);    
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 20px;    
    cursor: pointer;
    color: black
} */

/* h2 {
    color: red;
    font-size: 25px
     
} */

/* 
p {
    color: black;
    font-size: 22px;
    font-style: italic;
} */

/* 
title {
    color: white
} */