.boxID {    
    background-color: rgba(5, 183, 136, 0.115) ;
    border-radius: 10px;
    max-width: 80%;
    display: inline-block;  
    margin: 15px;
    color: black;   
    border-top: 5px solid gold;
    border-bottom: 5px solid gold

}

.cardID {
    color: black;  
    max-width:100%;
    display: flex;    
    
}

/* ------------- itemDetails (left -side-card)  --------------- */
 
.itemDetails {   
    font-size: 25px;     
    color: black;   
    margin-top: 25px;
    margin-bottom: 25px
}   


.imgID {
    max-width: 60%;     
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 8px;   
}

.descriptionGral h3 {
    color:black;
    font-size: 26px;
    text-transform: capitalize;  
    line-height: 1.7;  
}

.descriptionGral p {    
    color:black;
    font-size: 14px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;  
}

.descriptionSpec {    
    margin: 0px 10px 0px 10px;  
    padding: 8px 0px 8px 0px;  
    background-color: #2b5742;
    border-radius: 8px;
    color:white;
    font-size: 13px;    
    line-height: 1.6;
    text-transform:initial;       
}

/* ------------- itemCounter (right-side-card) ---------------  */


.botonCompraContext {
    color: white;
    padding:15px;
    font-size: 20px;
    border-radius: 8px;
    background-color: gold;
    margin: 0px 4px 25px 0px;

}

.botonCambios {
    color: white;
    padding:15px;
    font-size: 20px;
    border-radius: 8px;
    background-color: blue;
    margin: 0px 4px 25px 0px;
}


.linkCarrito {
    display:block;
    /* color: white; */
    background-color: rgb(0, 97, 65);
    padding: 0px;
    margin:20px;   
    border-radius: 5px;
    max-width: 100%;
    padding: 18px;  
}


/* 
.text {
    color: black;
    text-transform: uppercase;
} */

.reservaPrevia {
    color: white;
    font-size: 24px;

}

.botonCambioReserva {
    width: 55px;
    height: 55px;
    border-radius:50%;
    font-size: 35px;
}