.carritoCount {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;       
} 

.carritoImg {       
    background-color: rgb(172, 255, 209);   
    border-radius: 8px;   
    padding: 4px 8px 4px 4px;     
    margin-right:5px;
    max-width: 60px;    
    justify-content: end;         
}

.carritoMsg {
    color: white;
    font-size: 30px;
    font-weight: 700;  
}

