.loader {
    border: 2px solid rgb(25, 97, 73);
    border-radius: 50%;
    margin: 350px;
    padding: 150px

}

.titulo {
    margin: 40px 0px 45px 0px;
    text-transform: initial;
    font-size: 40px;
    color: black
}