.img {
    max-width: 85%;    
    border-radius: 10px;
    margin-top: 22px
}

.box {
    background-color: rgba(5, 183, 136, 0.115);   
    border-radius: 10px;
    border-top: 5px solid gold;
    border-bottom: 5px solid gold;
    max-width: 20%;
    display: inline-block;
    max-height: 60%;
    margin: 0px 15px 25px 0px;   
}

.botonCompra {
    color: white;
    text-transform: capitalize;
    padding: 15px;
    font-size: 19px;
    border-radius: 8px;
    background-color: rgb(0, 97, 65);
    margin-top: 25px
}

.detallesProd {
    margin-bottom: 40px; 
    margin-top:20px;      
}

.tour {
    color:  black;
    font-size: 20px;   
}

.category {
    text-transform: capitalize;
    font-style: italic;
}

.precio {   
    font-size: 18px;
}
