.formSection {  
    display: flex;   
    margin-top:40px;
    justify-content: center;    
}

.formContainer {  
   background-color: rgba(5, 183, 136, 0.115);     
   border-radius: 5px; 
   max-width: 100%;
   width: 1050px;
   box-shadow: 0 2px 5px rgba(0,0,0,0.3);  
   border-top: 7px solid gold;
   border-bottom: 7px solid gold;
}

.formHeader {
    margin-top:1px;
    background-color: #1C2329;
    padding: 10px 20px;
    color: whitesmoke;
    font-size: 18px;
    line-height: 1.6;    
    border-bottom: 5px solid #7a7a7a;    
}

.msjHeader{
    font-size: 18px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif
}

.form {
    padding: 20px 20px;    
}

.formInputs {
    margin-bottom: 18px;    
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;    
}

.form input {
    width: 100%;
    margin-top:4px;    
    padding: 9px;
    border-radius: 5px;
    font-family: inherit;  
    font-size: 17px    
}

.botonCheckout {
    background-color: rgb(1, 61, 31);    
    border-radius: 8px;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 17px;    
    cursor: pointer;
    color: white
}

.orderNumberMsj{
   margin-top: 20px;
   margin-bottom:20px;
   font-size: 28px
}

.orderNumber{
    margin: 55px 55px;   
    border-top: 3px dotted #386951;
    border-bottom: 3px dotted #386951;
    padding: 22px;
    font-size: 28px;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text {
    color: black;
    font-style: italic;
    font-size: 22px;
    margin-bottom: 35px    
}