*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    
}

li, a {
    font-size: 20px;
    color: white;    
    font-weight: 500;
    text-decoration: none;
    display: inline-block;  
    padding: 0 20px;
  
}

a:hover {
    color:rgb(21, 226, 226);    
}


.marca {
    text-align: left;
    max-width: 65%;
    cursor: pointer
   
}

.NavBar {
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 10%;
    background-color: black;
    min-width: 100vw;  
   
}

.title { 
    color: yellow
}

.botonActive {
    color: white;
    padding:15px;
    font-size: 20px;
    border-radius: 8px;
    background-color: rgb(0, 97, 65);
    margin-top: 0px
}