
.containerGral {   
    width: 500px;    
    height: 555px;  
    margin: 15px;  
    border:2px dotted #2b5742;
    border-radius: 8px;
}

.numPersonas {
    background-color: #2b5742;
    font-size: 22px; 
    margin-bottom: 40px;
    padding: 25px;   
    color: white;    
    border-radius: 5px;
    width: 100%;
    height: 80px
}

.qtyTotal {
    background-color: white;
    border-radius: 5px; 
    border:2px dotted #2b5742;  
    margin: 50px 30px 50px 30px;
    padding:10px;
    color: black;
    font-size: 25px
}

.buttonsCountContainer{
    display: block;
    max-width:100%;  
    height: 164px;
}

.buttonChange {
    background-color: #2b5742; 
    font-size: 17px; 
    line-height: 1.8;   
    cursor: pointer;
    color: white;   
    border: none;
    border-radius: 8px; 
    width: 40%;
    height: 80px;
    margin: 45px 15px 40px 15px;  
 
} 

.acceptContainer {
    background-color: #2b5742; 
    margin-top:14px;
    height: 140px;
    border-radius: 8px;    
}

.buttonAccept {
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size:22px;
    padding: 20px;
    margin-top: 35px;
    border: none;
    border-radius: 5px;
    width: 87%;    
    background-color: gold;
    color: black
   
} 

.outOfStock {
    background-color: #2b5742;
    margin: 20px 30px 70px 30px;
    border-radius: 8px;
    padding: 40px;
    color: white;
    font-size: 20px;
    line-height: 2;
    font-weight: 600
}

.sorry{
    background-color: white;
    color: black;
    font-size: 35px;
    font-style: bold;
    border-radius: 8px;

    
}
.sadFace {
    text-align: left;
    max-width: 25%;
    cursor: pointer;
    margin-top: 55px;   
}