
.containerGral {
    display: flex;
    justify-content: center;        
    margin-bottom: 20px;
    width: 100%;    
}

.headerTitle {
    font-size: 15px;
    font-weight:500;
    color: whitesmoke;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgb(1, 98, 83);
    border-radius: 5px

}

.qtyContainer {   
    font-size: 26px;
    font-weight: 700;
    background-color: rgb(131, 230, 197);
    max-width: 100%;
    padding: 19px;
    border-radius: 5px;
}

.countButtonsContainer{
    display: flex

}
.qtyTotal {
    background-color: whitesmoke;
    border-radius: 5px;
    padding:10px

}

.button {
    margin: 15px 5px 5px 5px;
    padding: 8px;
    border-radius: solid 2px 5px;   
}

.botonComprar {
    display: inline-block;
    font-weight: 700;
    font-size:17px;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    background-color: gold
}